DATABASE_URL="file:./dev.db"
AUTH_SECRET="generate-a-random-secret-with-openssl-rand-base64-32"

# Optional: enabling these values adds Google to the login screen.
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
